<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Crypto SMS</title>
  <link rel="stylesheet" href="/bootstrap">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- main body of our application -->
  <div id="app">
    <div class="navbar">
      <div class='col-xs-8 col-xs-offset-1'>
        <img src='http://res.cloudinary.com/small-change/image/upload/v1478313250/logo_fmsrtp.png' class='navbar-logo'>
        <p class='logo-text'>cryptoSMS</p>
      </div>
      <div class='col-xs-2'>
        <span class='navbar-button' v-on:click="">Cancel Account</span>
      </div>
    </div>
    <div class='main-container'>
      <div class='col-xs-5 col-xs-offset-1'>
        <div class='form-fields'>
          <p class='form-header-text'> Daily SMS, </p>
          <p class='form-header-text-second-row'> Cryptocurrency price. </p>
          <p class='form-header-text-second-row' v-if='fetchingData'> Loading </p>
            <form v-if='!fetchedData'>
              <div>
                <div style="position:relative">
                    <input name='cryptocurrency' id='crypto-form-field' class='crypto-field' placeholder="Cryptocurrency" v-model="selection"
                        @keydown.enter = 'enter'
                        @input = 'change'
                    />
                    <ul class="dropdown-menu" style="width:100%">
                        <li class='li-dropdown'
                            v-for="suggestion in matches"
                            @click="suggestionClick(suggestions.indexOf(suggestion))"
                        >
                          <a href="#">{{ suggestion }}</a>
                        </li>
                    </ul>
                </div>
              </div>
              <input type='text' name='mobile' class='crypto-field bottom-field' placeholder="Mobile" id='mobile-field'>
              <button v-on:click="submit" class='submit-button'>
                Create an Account 
              </button>
            </form>
            <transition name="fade">
              <div class='panel panel-default' v-if='fetchedData'>
                <p class='fetchedData-text'><b>{{crypto}}</b> price will be sent to {{mobile}} every day! Woop woop. The current price is <b>${{price}}</b> USD. </p>
              </div>
            </transition>
        </div>
      </div>
      <div class='col-xs-4 col-xs-offset-1'>
        <img src='http://res.cloudinary.com/small-change/image/upload/v1478386844/handphone_yydlgu.png' class='iphone-image'>
      </div>
      <div class='col-xs-1'></div>
    </div>
  </div>

  <!-- JS -->
  <script src="data.js"></script>
  <script src="vue"></script>
  <script src="vue-resource"></script>
  <script src="app.js"></script>
</body>
</html>